.booking {
  padding: 80px 0;
  background-color: var(--faq-background);
}

.booking__title {
  margin-bottom: 40px;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
}

.booking__fieldset {
  display: flex;
  gap: 60px;
  align-items: flex-start;
  margin-bottom: 60px;
  border: none;
}

.booking__fieldset_gap_100 {
  gap: 100px;
  margin-left: 100px;
}

.booking__fieldset_gap_50 {
  gap: 50px;
  margin-left: 130px;
}

.booking__fieldset:last-child {
  margin-bottom: 40px;
}

.booking__legend {
  margin-bottom: 40px;
  text-align: center;
}

.booking__halls-label {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 250px;
  height: 55px;
  font-size: 30px;
  text-transform: uppercase;
  color: var(--secondary-color);
  background-color: var(--main-color);
  border-radius: 8px;
  cursor: pointer;
  transition: all 400ms linear;
  -webkit-transition: all 400ms linear;
  -moz-transition: all 400ms linear;
  -ms-transition: all 400ms linear;
  -o-transition: all 400ms linear;
}

.booking__halls-label:hover {
  background-color: var(--booking-background);
  border: 3px solid var(--violet-active);
}

.booking__radio-halls {
  transition: all 400ms linear;
  -webkit-transition: all 400ms linear;
  -moz-transition: all 400ms linear;
  -ms-transition: all 400ms linear;
  -o-transition: all 400ms linear;
}

.booking__radio-halls:checked + .booking__halls-label,
.booking__radio-halls:active + .booking__halls-label {
  background-color: var(--booking-background);
}

.booking__radio-label:focus + .booking__halls-label {
  border: 3px solid var(--violet-active);
}

.booking__form-group {
  flex-basis: 300px;
}

.booking__title-group {
  display: block;
  margin-bottom: 24px;
}

.booking__console-text {
  position: relative;
  display: block;
  padding-left: 20px;
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 22px;
}

.booking__console-radio:before {
  content: "";
  position: absolute;
  left: 0;
  top: 5px;
  width: 15px;
  height: 15px;
  background-color: var(--main-color);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.booking__console-radio {
  width: 0;
  height: 0;
}

.booking__console-radio:after,
.booking__console-check:after {
  content: "";
  transition: all 400ms linear;
  -webkit-transition: all 400ms linear;
  -moz-transition: all 400ms linear;
  -ms-transition: all 400ms linear;
  -o-transition: all 400ms linear;
}

.booking__console-radio:focus:after,
.booking__console-radio:checked:after {
  content: "";
  position: absolute;
  left: -1px;
  top: 4px;
  width: 17px;
  height: 17px;
  border: 1px solid var(--violet-color);
}

.booking__console-check:before {
  content: "";
  position: absolute;
  left: 0;
  top: 5px;
  width: 15px;
  height: 15px;
  background-color: var(--main-color);
}

.booking__console-check {
  width: 0;
  height: 0;
}

.booking__console-check:focus:after,
.booking__console-check:checked:after {
  content: "";
  position: absolute;
  left: -3px;
  top: 2px;
  width: 20px;
  height: 20px;
  border: 1px solid var(--violet-color);
}

.booking__select:focus,
.booking__input:focus {
  outline: 2px solid var(--violet-color);
}

.booking__btn {
  display: block;
  margin-left: auto;
  padding: 16px 50px;
  font-size: 22px;
  text-transform: uppercase;
  color: var(--violet-background);
  background: var(--main-color);
  border: 3px solid var(--main-color);
  border-radius: 10px;
  outline: none;
  transition: all 400ms linear;
  -webkit-transition: all 400ms linear;
  -moz-transition: all 400ms linear;
  -ms-transition: all 400ms linear;
  -o-transition: all 400ms linear;
}

.booking__btn:hover {
  background: var(--booking-background);
  border: 3px solid var(--violet-background);
}

.booking__btn:active {
  background: var(--booking-background);
  border: 3px solid var(--booking-background);
}

.booking__btn:focus {
  border: 3px solid var(--violet-background);
}

.booking__form-group_flex {
  display: flex;
  gap: 36px 32px;
  flex-wrap: wrap;
}

.booking__form-group_padding_top {
  padding-top: 30px;
}

.booking__select {
  flex-basis: 134px;
  padding: 12px 20px;
  font-size: 18px;
  font-weight: 400;
  color: var(--booking-color);
  transition: all 400ms linear;
  -webkit-transition: all 400ms linear;
  -moz-transition: all 400ms linear;
  -ms-transition: all 400ms linear;
  -o-transition: all 400ms linear;
}

.booking__select_width_100 {
  flex-basis: 100%;
}

.booking__input-group {
  margin-bottom: 14px;
}

.booking__input-group:last-child {
  margin-bottom: 0;
}

.booking__input-label {
  font-size: 14px;
}

.booking__input {
  height: 47px;
  transition: all 400ms linear;
  -webkit-transition: all 400ms linear;
  -moz-transition: all 400ms linear;
  -ms-transition: all 400ms linear;
  -o-transition: all 400ms linear;
}
