.contacts {
  padding-bottom: 20px;
  background-image: linear-gradient(180deg, #1b1a1b -13.35%, #370a37 86.65%);
}

.contacts__title {
  margin-bottom: 60px;
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
}

.contacts__container {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  margin-bottom: 146px;
}

.contacts__items {
  margin-bottom: 40px;
}

.contacts__item {
  padding-left: 60px;
  margin-bottom: 36px;
}

.contacts__item_adress {
  background-image: url("../img/location.svg");
  background-repeat: no-repeat;
  background-position: left center;
}

.contacts__item_phone {
  background-image: url("../img/phone.svg");
  background-repeat: no-repeat;
  background-position: left center;
}

.contacts__item_email {
  background-image: url("../img/mail.svg");
  background-repeat: no-repeat;
  background-position: left center;
}

.socials__items {
  display: flex;
  gap: 26px;
  flex-wrap: wrap;
}

.social__img {
  width: 50px;
  height: 50px;
}

.social__img:hover {
  fill: #eadeed;
}

.socials__link:focus .social__img {
  fill: #eadeed;
  outline: 1px solid #cd06ff;
}

.socials__link:active .social__img {
  fill: #cd06ff;
}

.contacts__copyright {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.contacts__text {
  margin-bottom: 6px;
  font-weight: 400;
  font-size: 14px;
}
