.faq__title {
  margin-bottom: 40px;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
}

.faq__items {
  position: relative;
  list-style: none;
}

.faq__item {
  background-color: #ffffff;
  color: #1c1a1a;
  font-weight: 700;
  font-size: 24px;
  padding: 30px 70px;
  margin-bottom: 20px;
}

.faq__item::after {
  content: "";
  position: absolute;
  background: url("../img/open.svg") no-repeat center center/cover;
  right: 40px;
  width: 40px;
  height: 40px;
}

.faq__item:hover::after {
  background-image: url("../img/open_hover.svg");
}

.faq__item:active::after {
  background-image: url("../img/open_active.svg");
}

.faq__item:nth-child(even) {
  background-color: #440f51;
  color: #ffffff;
}

.faq__item:nth-child(odd):after {
  background-image: url("../img/open-purple.svg");
}

.faq__item:hover:nth-child(odd):after {
  background-image: url("../img/open-purple_hover.svg");
}

.faq__item:active:nth-child(odd):after {
  background-image: url("../img/open-purple_active.svg");
}
