.header {
  padding-top: 30px;
  padding-bottom: 50px;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.header__btn {
  padding: 12px 32px;
  font-size: 22px;
  color: var(--main-color);
  text-transform: uppercase;
  background-color: transparent;
  border: 3px solid var(--violet-color);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  transition: all 400ms linear;
  -webkit-transition: all 400ms linear;
  -moz-transition: all 400ms linear;
  -ms-transition: all 400ms linear;
  -o-transition: all 400ms linear;
}

.header__btn:hover {
  background-color: var(--violet-background);
  border: 3px solid var(--violet-background);
}

.header__btn:focus {
  background-color: var(--violet-background);
  border: 3px solid var(--violet-background);
}

.header__btn:active {
  background-color: var(--violet-active);
  border: 3px solid var(--violet-active);
}
