.promotion__title {
  margin-bottom: 41px;
  font-size: 40px;
  line-height: 50px;
  text-align: center;
  text-transform: uppercase;
}

.promotion__list {
  display: flex;
  gap: 40px 20px;
  flex-wrap: wrap;
}

.promotion__item {
  display: flex;
  align-items: flex-end;
  flex-basis: 380px;
  height: 228px;
  padding: 20px 40px;
  font-size: 20px;
  line-height: 28px;
  background: transparent center center/cover no-repeat;
  transition: transform 400ms linear;
  -webkit-transition: transform 400ms linear;
  -moz-transition: transform 400ms linear;
  -ms-transition: transform 400ms linear;
  -o-transition: transform 400ms linear;
}

.promotion__item:hover {
  transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
}

.promotion__item_padding-bottom_6 {
  padding-bottom: 6px;
}

.promotion__item_vr {
  background-image: url("../img/vr.jpg");
}

.promotion__item_audio {
  background-image: url("../img/audio.jpg");
}

.promotion__item_karaoke {
  background-image: url("../img/karaoke.jpg");
}

.promotion__item_game {
  background-image: url("../img/game.jpg");
}

.promotion__item_film {
  background-image: url("../img/films.jpg");
}

.promotion__item_play-station {
  background-image: url("../img/play-station.jpg");
}
